@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mongo DB Storage</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Mongo DB Storage</a>.</p>
</div>
