################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDoList
/MongoDbCRUD/obj/Release/netstandard2.0
