@page "{categoryId?}"
@model Recipes.Pages.Categories.DeleteModel
@{
}
<h2>Delete!</h2>
@if(!string.IsNullOrEmpty(Model.Message))
{
<div class="alert alert-info">
    @Model.Message
</div>
}
<div class="alert alert-danger">
    Are you sure you want to delete @Model.Category.Name
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="List" class="btn btn-dark">Cancel</a>
    </form>
</div>