@page "{categoryId?}"
@model Recipes.Pages.Categories.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.Category.Name Category Details</h1>

<div>
    Category Name: @Model.Category.Name
</div>


<a asp-page="./List" class="btn btn-link">All Categories</a>
