@page "{categoryId?}"
@model Recipes.Pages.Categories.EditModel
@{
    var isMessage = !string.IsNullOrEmpty(Model.Message);
    ViewData["Title"] = @Model.FormTitle;
}

<h1>@Model.FormTitle</h1>

<form method="post">
    @if (isMessage)
    {
        <div class="alert alert-info">
            @Model.Message
        </div>
    }
    <input type="hidden" asp-for="Category.Id" />
    <div class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label asp-for="Category.Name"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input asp-for="Category.Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="text-danger" asp-validation-for="Category.Name"></span>
            </div>
        </div>
        <div style="padding-top:2em" class="row">
            <div class="col-sm-12 form_action_button">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>


<a asp-page="./List" class="btn btn-default">All Categories</a>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Category_Name").focus();
        });
    </script>
}