@page
@model Recipes.Pages.Categories.ListModel
@{
}

<h1>Categories</h1>
<div class="alert-info">@TempData["Message"]</div>
<table class="table">
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@category.Name</td>
            <td><a class="btn btn-lg" asp-page="./Edit" asp-route-categoryId="@category.Id"><i class="glyphicon glyphicon-edit"></i></a></td>
            <td><a class="btn btn-lg" asp-page="./Delete" asp-route-categoryId="@category.Id"><i class="glyphicon glyphicon-trash"></i></a></td>
        </tr>
    }
</table>

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>


 
