@page "{recipeId?}"
@model Recipes.Pages.MenuRecipes.DeleteModel
@{
    ViewData["Title"] = "Delete Menu Recipe";
}

<h1>Delete!</h1>
<vc:menu-recipe-detail model="@Model.MenuRecipeDetailModel"></vc:menu-recipe-detail>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.MenuRecipeDetailModel.Recipe.Name
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes!</button>
        <a asp-page="List" class="btn btn-dark">Cancel</a>
    </form>
</div>

