@page "{recipeId?}"
@model Recipes.Pages.MenuRecipes.DetailModel
@{
    ViewData["Title"] = "Detail";
}
<h1>@Model.Recipe.Name Details</h1>
<partial name="_MenuRecipeDetail" model="Model" />

<a asp-page="./List" class="btn btn-default">All Recipes</a>



