@page "{recipeId?}"
@model Recipes.Pages.MenuRecipes.DetailModel
@{
    ViewData["Title"] = "Detail";
}
<h1>@Model.MenuRecipeDetailModel.Recipe.Name Details</h1>

<vc:menu-recipe-detail model="@Model.MenuRecipeDetailModel"></vc:menu-recipe-detail>

<a asp-page="./List" class="btn btn-link">All Recipes</a>



