@page "{ingredients?}"
@model Recipes.Pages.MenuRecipes.SearchModel
@{
}

<form>
    <div>Search by ingredient list</div>
    <div>Search by category</div>
    <div>Search by cook time</div>
    <div>Search by recipe name</div>

    <button type="submit" class="btn">Search</button>
</form>

