@page "{ingredients?}/{CookTime?}"
@model Recipes.Pages.MenuRecipes.SearchModel
@{
}

<form>
    <div>
        Ingredients: 
        <input type="text" asp-for="Ingredients" />
    </div>
    <div>Search by category</div>
    <div>Cook time:
        <input type="text" asp-for="CookTime" />
    </div>
    <div>Search by recipe name</div>
    
    <button type="submit" class="btn">Search</button>
</form>

