@page "{ingredients?}/{CookTime?}/{RecipeName?}"
@model Recipes.Pages.MenuRecipes.SearchModel
@{
}

<form>
    <div>
        Ingredients: 
        <input type="text" asp-for="Ingredients" />
    </div>
    <div>Search by Category</div>
    <div>Cook Time:
        <input type="text" asp-for="CookTime" />
    </div>
    <div>Recipe Name:
        <input type="text" asp-for="RecipeName" />
    </div>
    
    <button type="submit" class="btn">Search</button>
</form>

