@page "{ingredients?}/{CookTime?}/{RecipeName?}"
@model Recipes.Pages.MenuRecipes.SearchModel
@{
    var isMessage = !string.IsNullOrEmpty(Model.Message);
    ViewData["Title"] = "Search Menu Recipe(s)";
}

<form>
    <h1>Search Recipes</h1>
    @if (isMessage)
    {
        <div class="alert alert-info">
            @Model.Message
        </div>
    }
<div class="form-group">
    <div class="row">
        <div class="col-sm-1">
            Ingredients:
        </div>
        <div class="col-sm-10 text-info">
            (Enter , to separate multiple items)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" asp-for="Ingredients" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Recipe Category:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <select id="CategoryId" name="CategoryId" asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Cook Time:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input asp-for="CookTime" class="form-control" min="1" onkeypress="return ValidateWholeNumberEntered(event)" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Recipe Name:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type="text" asp-for="RecipeName" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Serving Size:
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <select id="ServingNumber" name="ServingNumber" asp-for="ServingNumber" asp-items="Model.Servings" class="form-control"></select>
        </div>
    </div>
</div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Ingredients").focus();
        });
    </script>
}
