@page "{ingredients?}/{CookTime?}/{RecipeName?}"
@model Recipes.Pages.MenuRecipes.SearchModel
@{
}

<form>
    <div>
        <font class="text-info">Enter , to separate multiple items</font>
    </div>
    <div>
        Ingredients: 
        <input type="text" asp-for="Ingredients" />
    </div>
    <div>
        Recipe Category:
        <select id="CategoryId" name="CategoryId" asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>
    <div>Cook Time:
        <input type="text" asp-for="CookTime" />
    </div>
    <div>Recipe Name:
        <input type="text" asp-for="RecipeName" />
    </div>
    
    <button type="submit" class="btn">Search</button>
</form>

